@font-face {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XFuErsiyJsY9O_Gepph-HHhZfn23vRK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XFuErsiyJsY9O_Gepph-HHhZfn23vRK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'Azeret Mono';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/azeretmono/v1/3XFuErsiyJsY9O_Gepph-HHhZfn23vRK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abeezee/v14/esDT31xSG-6AGleN2tCUkp8DOJKuGA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abeezee/v14/esDR31xSG-6AGleN2tWkkJUEGpA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  h1 {
    font-family: 'Azeret Mono';
    font-weight: bold;
    font-size: 32px;
    color: #383E42;
    margin-left: 30px;
  }
  
  h2.box-headline {
    font-family: 'Azeret Mono';
    font-weight: 400;
    font-size: 24px;
    color: #383E42;
    margin-left: 30px;
    text-decoration: underline #7A77B9;
  }
  
  .colors {
    border: 2px dashed #BD9DEA;
    max-width: 625px;
    margin-left: 30px;
  }
  
  .colors > p {
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 15px;
    margin-left: 30px;
    margin-bottom: 35px;
    font-family: 'Azeret Mono';
  }
  
  #platinum {
    background-color: #EBE8E7;
  }
  
  #tango-pink {
    background-color: #EA7186;
  }
  
  #orange-yellow {
    background-color: #F2C76E;
  }
  
  #toolbox {
    background-color: #7A77B9;
  }
  
  #lavender {
    background-color: #BD9DEA;
  }
  
  #anthracite {
    background-color: #383E42;
    color: #EBE8E7;
  }
  
  
  .fonts {
    border: 2px dashed #BD9DEA;
    background-color: #EBE8E7;
    max-width: 625px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  #azeret-mono {
    font-family: 'Azeret Mono';
    color: #383E42;
    margin: 30px;
    max-width: 625px;
  }
  
  #azeret-mono .headline {
    text-decoration: underline 2px #EA7186;
    font-size: 18px;
  }
  
  #azeret-mono .thin {
    font-weight: 100;
  }
  
  #azeret-mono .bold {
    font-weight: bold;
  }
  
  #abeezee {
    font-family: ABeeZee;
    color: #383E42;
    margin: 30px;
    max-width: 625px;
  }
  
  #abeezee .headline {
    text-decoration: underline 2px #EA7186;
    font-size: 20px;
  }
  
  #abeezee .italic {
    font-style: italic;
    margin-bottom: 35px;
  }
  
  .text-styles {
    border: 2px dashed #BD9DEA;
    max-width: 625px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  
  #main-heading {
    margin: 30px;
  }
  
  #main-heading ul {
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  #subheading {
    margin: 30px;
  }
  
  #subheading h2 {
    font-family: 'Azeret Mono';
    font-weight: 400;
    font-size: 24px;
    color: #383E42;
    text-decoration: underline #7A77B9;
  }
  
  #subheading ul {
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  #paragraph-text {
    margin: 30px;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }
  
  
  
  
  
  
  
  
  